{% extends  'bookers_template.html' %}

{% block bookers-body %}

    <div class="row justify-content-center px-5">
        <h3>Bookings History:</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">Event Date</th>
                <th scope="col">Event Name</th>
                <th scope="col">Venue</th>
                </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                <td>{{ event.date }}</td>
                <td>{{ event.name }}</td>
                <td>{{ event.venue }}</td>
                </tr>
            {% empty %}
            {% endfor %}
            </tbody>
            </table>
    </div>

{% endblock %}