{% extends  'bookers_template.html' %}

{% block written-title %}
    Bookers Dashboard
{% endblock %}

{% block bookers-body %}

<div class="container-fluid px-5 pt-1 m-0">
    <div class="row border-bottom px-4 py-3 mb-4">
        <div class="col">Event Date</div>
        <div class="col">Event Name</div>
        <div class="col d-none d-md-block">Venue</div>
        <div class="col d-none d-md-block">Booking Start Time</div>
        <div class="col d-none d-md-block">Fee (Excl. GST)</div>
        <div class="col">Edit Event</div>
    </div>

    {% for event in events %}
        <div class="row p-4 mb-4">
            <div class="col border-left border-right">{{ event.date }}</div>
            <div class="col border-right">{{ event.name }}</div>
            <div class="col border-right d-none d-md-block">{{ event.venue }}</div>
            <div class="col border-right d-none d-md-block">{{ event.booking_start_time }}</div>
            <div class="col border-right d-none d-md-block">${{ event.total_fee_no_gst }}</div>
            <div class="col border-right">
                <a href="{% url 'edit_event_view' event.pk %}">
                    <button class="btn btn-primary btn-block">
                    Edit
                    </button>
                </a>
            </div>
        </div>
        {% empty %}
            <h4>No Gigs booked!</h4>
    {% endfor %}
    <form action="{% url 'create_new_event' %}" method="POST">
        {% csrf_token %}
        <div class="row p-4 mb-4">   
            <div class="col border-left border-right">{{ event_creation_form.date }}</div>
            <div class="col border-right">{{ event_creation_form.name }}</div>
            <div class="col border-right d-none d-md-block">{{ event_creation_form.venue }}</div>
            <div class="col border-right d-none d-md-block">{{ event_creation_form.booking_start_time }}</div>
            <div class="col border-right d-none d-md-block">{{ event_creation_form.total_fee_no_gst }}</div>
            <div class="col border-right">
                <button class="btn btn-dark btn-block" type="submit">Create New</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}