{% extends  'bookers_template.html' %}

{% block written-title %}
    Clients
{% endblock %}

{% block bookers-body %}

<div class="container-fluid px-5 pt-1" style="max-width: 819px;">
    {% for client in clients %}
    <div class="row border px-4 py-3 mb-4">
        <div class="col-8 border-right">
            {{ client }}
        </div>
        <div class="col-4">
            <a href="{% url 'bookers_edit_clients_view' client.pk %}">
                <button class="btn btn-primary btn-block">
                    Edit
                </button>
            </a>
        </div>
    </div>
    {% endfor %}

    <div class="row border px-4 py-3 mb-4">
        <div class="col-8 border-right">
            <form action="{% url 'bookers_create_new_client' %}" method="POST">
            {% csrf_token %}
            {{ client_creation_form.contact_name }}
            {% for error in client_creation_form.errors %}
                {{ error }}
            {% endfor %}
        </div>
        <div class="col-4">
                <button class="btn btn-dark btn-block">
                    Create Client
                </button>
            </form>
        </div>
    </div>

</div>
{% endblock %}