{% extends  'bookers_template.html' %}

{% block written-title %}
    Bookings History
{% endblock %}

{% block bookers-body %}

    <div class="row justify-content-center px-5">
        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">Event Date</th>
                <th scope="col">Event Name</th>
                <th scope="col" class="d-none d-md-block">Venue</th>
                <th scope="col">Undo complete event</th>
                </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                <td>{{ event.date }}</td>
                <td>{{ event.name }}</td>
                <td class="d-none d-md-block">{{ event.venue }}</td>
                <td>
                    <a href="{% url 'bookers_undo_complete_event' event.pk %}">
                        <button class="btn btn-primary btn-block">
                        Edit
                        </button>
                    </a>
                </td>
                </tr>
            {% empty %}
                <td>No gigs!</td>
            {% endfor %}
            </tbody>
            </table>
    </div>

{% endblock %}