{% extends "layout.html" %}

{% block pagetitle %}
DFE | Bookers
{% endblock %}

<!-- body is from layout.html -->
{% block body %}
<div class="row">
    <!-- Left column for booker.-->
    <div class="col-lg-3 col-md-2 text-center pl-4 bg-light">
        <div class="row justify-content-center p-4">
            <!-- Image file is dynamic. -->
            <img src="{{ user.booker.profile_picture.url }}" class="img-thumbnail rounded profile-pic">
        </div>
        <div class="row justify-content-center p-0">
            <h4>{{ request.user.first_name }} {{ request.user.last_name }}</h4>
        </div>
        <div class="row justify-content-center">
            <ul class="list-group-flush p-0">
                <li class="list-group-item">
                    {% for message in messages %}  
                        <h6 class=' alert alert alert-{{ message.tags }}'>{{ message }}</h6>
                    {% endfor %}
                </li>
                <li class="list-group-item"><a href="{% url 'bookers_home_view' %}"><u>Bookings</u></a></li>
                <li class="list-group-item"><a href="{% url 'bookers_clients_view' %}"><u>Clients</u></a></li>
                <li class="list-group-item"><a href="{% url 'bookers_details' %}"><u>Edit My Details</u></a></li>
                <li class="list-group-item"><a href="{% url 'bookers_gig_history' %}"><u>Gig History</u></a></li>
                <li class="list-group-item"><a href="{% url 'contact' %}"><u>Provide Feedback</u></a></li>
                <li class="list-group-item text-primary"><a href="{% url 'signout' %}" class="list-group-item text-primary bg-light"><u>Log out</u></a></li>
            </ul>
        </div>
    </div>

{% block bookers-body %}
<!-- This is where the 'right column' content will go. -->
{% endblock %}

</div>

{% endblock %}
