{% extends  'bookers_template.html' %}

{% block written-title %}
    Edit Details
{% endblock %}

{% block bookers-body %}

    <div class="container d-flex justify-content-center">
            <form action="{% url 'bookers_details' %}" method="POST"  enctype='multipart/form-data' style="width: 80%; max-width: 80%;">
            {% csrf_token %}
            {{ form.as_p }}
            {{ booker_form.as_p }}
            <button class="btn btn-lg btn-dark btn-block" type='submit'>Save Changes</button>
            </form>
    </div>
    <br><br>
{%endblock %}