{% extends  'bookers_template.html' %}

{% block written-title %}
    Bookers Dashboard
{% endblock %}

{% block bookers-body %}

<div class="container-fluid px-md-5 pt-1 m-0">
    <div class="row border-bottom pt-2 px-3">
        <div class="col text-left">
            <h5>
                <u>Upcoming Events</u>
            </h5>
            <small class="text-dark">Yellow: Tentative, Green: Locked in</small>
        </div>
    </div>
    <div class="row border-bottom px-4 py-3 mb-4">
        <div class="col"><b>Event Date</b></div>
        <div class="col"><b>Event Name</b></div>
        <div class="col d-none d-md-block"><b>Venue</b></div>
        <div class="col d-none d-md-block"><b>Booking Start Time</b></div>
        <div class="col d-none d-md-block"><b>Fee (Excl. GST)</b></div>
        <div class="col"><b>Edit Event</b></div>
        <div class="col-1 d-none d-xl-block"><b>Status</b></div>
    </div>

    {% for event in events %}
        <div class="row p-4 mb-4">
            <div class="col border-left border-right">{{ event.date }}</div>
            <div class="col border-right">{{ event.name }}</div>
            <div class="col border-right d-none d-md-block">{{ event.venue }}</div>
            <div class="col border-right d-none d-md-block">{{ event.booking_start_time }}</div>
            <div class="col border-right d-none d-md-block">${{ event.total_fee_no_gst }}</div>
            <div class="col border-right">
                <a href="{% url 'edit_event_view' event.pk %}">
                    <button class="btn btn-primary btn-block">
                    Edit
                    </button>
                </a>
            </div>
            <div class="d-none d-xl-block col-1 justify-content-center d-xl-flex align-self-center">
                {% if event.event_status == 'tentative' or event.event_status == None %}
                    <button class="btn btn-warning d-none d-xl-block" style="height: 20px; width: 20px;">
                {% else %}
                    <button class="btn btn-success d-none d-xl-block" style="height: 20px; width: 20px;">
                {% endif %}
            </div>
        </div>
        {% empty %}
            <h4>No Gigs booked!</h4>
    {% endfor %}
    <form action="{% url 'create_new_event' %}" method="POST">
        {% csrf_token %}
        <div class="row p-4 mb-4 mx-1 border bg-light">   
            <div class="col border-left border-right">{{ event_creation_form.date }}</div>
            <div class="col border-right">{{ event_creation_form.name }}</div>
            <div class="col border-right d-none d-md-block">{{ event_creation_form.venue }}</div>
            <div class="col border-right d-none d-md-block">{{ event_creation_form.booking_start_time }}</div>
            <div class="col border-right d-none d-md-block">{{ event_creation_form.total_fee_no_gst }}</div>
            <div class="col-12 col-md pt-4 p-md-0 px-md-3 border-right">
                <button class="btn btn-dark btn-block" type="submit">New Event</button>
            </div>
        </div>
    </form>
</div>

<div class="container-fluid px-md-5 pt-1 m-0">
    <div class="row border-bottom pt-2 px-3">
        <div class="col text-left">
            <h5>
                <u>Events to wrap up</u>
            </h5>
        </div>
    </div>
    <div class="row border-bottom px-4 py-3 mb-4">
        <div class="col"><b>Event Date</b></div>
        <div class="col"><b>Event Name</b></div>
        <div class="col d-none d-md-block"><b>Venue</b></div>
        <div class="col d-none d-md-block"><b>Booking Start Time</b></div>
        <div class="col d-none d-md-block"><b>Fee (Excl. GST)</b></div>
        <div class="col"><b>Edit Event</b></div>
    </div>

    {% for event in events_to_wrap_up %}
        <div class="row p-4 mb-4">
            <div class="col border-left border-right">{{ event.date }}</div>
            <div class="col border-right">{{ event.name }}</div>
            <div class="col border-right d-none d-md-block">{{ event.venue }}</div>
            <div class="col border-right d-none d-md-block">{{ event.booking_start_time }}</div>
            <div class="col border-right d-none d-md-block">${{ event.total_fee_no_gst }}</div>
            <div class="col border-right">
                <a href="{% url 'edit_event_view' event.pk %}">
                    <button class="btn btn-primary btn-block">
                    Edit
                    </button>
                </a>
            </div>
        </div>
        {% empty %}
            <h4>No Events to catch up on!</h4>
    {% endfor %}
</div>

{% endblock %}