{% extends "layout.html" %}
{% load static %}

{% block pagetitle %}
DFE | Bookers
{% endblock %}

{% block nav %}
<nav class="navbar justify-content-center header py-0" style="max-height: 70px;">
    <div class="row">
        <table class="table">
            <tr class="text-dark">
                <td><a href="{% url 'bookers_home_view' %}" class="text-dark">Bookings</a></td>
                <td><a href="{% url 'bookers_clients_view' %}" class="text-dark">Clients</a></td>
                <td><a href="{% url 'bookers_musicians_view' %}" class="text-dark">Musicians</a></td>
                <td><a href="{% url 'bookers_details' %}" class="text-dark">Edit my details</a></td>
                <td><a href="{% url 'bookers_gig_history' %}" class="text-dark">Gig History</a></td>
                <td><a href="{% url 'signout' %}" class="text-dark">Log out</a></td>
            </tr>
        </table>
    </div>
</nav>
{% endblock %}

<!-- body is from layout.html -->

{% block body %}

<div class="row pt-4 justify-content-center">
    <h3>
{% block written-title %}
{% endblock %}
    </h3>
</div>

{% if messages %}
<div class="row d-flex justify-content-center">
            {% for message in messages %}  
                <p class='alert alert-{{ message.tags }} col'>
                    {{ message|striptags }}. {% block add-message %}{% endblock %}
                </p>
            {% empty %}
            {% endfor %}
</div>
{% endif %}

{% block bookers-body %}
<!-- This is where the content will go. -->
{% endblock %}

{% endblock %}
