{% extends 'user_template.html' %}



{% block written-title %}
<div class="container px-5 justify-content-center">
Worksheet {{ event.event.name }} {{ event.event.date }}
  <div class="row">
    <div class="col">
      {% if event.event_status == 'tentative' or event.event_status == None %}
        <button class="btn btn-warning" style="height: 20px; width: 50px;">
      {% else %}
        <button class="btn btn-success" style="height: 20px; width: 20px;">
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}


{% block user-body %}
<!-- Accessing the EventMusician Model and getting deets from there. -->

<div class="container">
  <div class="container">
    <div class="row">
      <div class="col border-bottom text-left">
        <h5>Event Details</h5>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <b>Event name:</b> {{ event.event.name }}<br>
        <b>Date:</b> {{ event.event.date }}<br>
        <b>Run through/rehearsal details:</b> {{ event.event.rehearsal }}<br>
        <b>Venue:</b> {{ event.event.venue }}<br>
        <b>Venue in case of rain:</b> {{ event.event.venue_in_case_of_rain }}<br>
      </div>
      <div class="col-md-6">
        <b>Call time: (Be setup and ready to go by this time.)</b> {{ event.event.musicians_call_time }}<br>
        <b>Call End Time:</b> {{ event.event.booking_end_time }}<br>
        <b>Performer attire:</b> {{ event.event.musicians_attire }}<br>
        <b>Band:</b> {{ event.event.band_lineup }}<br>
        <b>Bandleader:</b> {{ bandleader }}<br>
      </div>
    </div>
  </div>
  <br>

  <div class="container">
    <div class="row">
      <div class="col border-bottom text-left">
        <h5>Client/Booker Details</h5>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-6">
        <b>Client</b><br>
        Company: {{ event.event.client.company }}<br>
        Contact Name: {{ event.event.client.contact_name }}<br>
        Contact Number: {{ event.event.client.contact_number }}<br>
      </div>
      <div class="col-sm-6">
        <b>Booker</b><br>
        Name: {{ event.event.booker.user.first_name }}<br>
        Contact Email: {{ event.event.booker.user.email }}<br>
        Contact Number: {{ event.event.booker.contact_number }}<br>
      </div>
    </div>
  </div>
  <br>

  <div class="container">
    <div class="row">
      <div class="col border-bottom text-left">
        <h5>Timings/Notes</h5>
      </div>
    </div>
    <div class="row justify-content-center">
      <p class="text-center">
        {% if event.is_bandleader %}
          <b>Your bandleader responsibilities:</b><br>
          - Introduce yourself to the client and be the first point of contact.<br>
          - Take control (if required) when leading the band, calling tunes, choosing where to setup etc.<br>
          - Please take a photo of the gig at some point and text it to 0423 526 197.<br>
          - Grab a photo/copy of a runsheet on the day so you know when you’ll need to play.</p> 
        {% endif %}
      </p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <b>Musical Style: </b> {{ event.event.musical_style }}<br>
        <b>Production (AV requirements/provided): </b>{{ event.event.production }}<br>
        <b>Power provided: </b> {{ event.event.power_required }}<br>
        <b>Crew Meals: </b> {{ event.event.crew_meals }}<br>
        <b>Further requirements: </b>{{ event.event.further_musician_requirements }}<br><br>
      </div>
      <div class="col-md-6">
        <b>Parking Address: </b>{{ event.event.parking_address }}<br>
        <b>Parking Cost reimbursed P/Car: </b> {{ event.event.parking_cost_per_car }}<br>
        <b>Who Gets the Parking Reimbursement?: </b>{{ event.event.parking_assignment }}<br>
        <b>No. of spots provided: </b> {{ event.event.number_parking_spots_required }}  
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col border">
        <b>Runsheet/files: </b> {{ event.event.run_sheet }}
        {% if event.event.helpful_files %}
            <a href="{{ event.event.helpful_files.url }}">Click Here!</a>
        {% endif %}
      </div>
    </div>
  </div>
  <br>

  <div class="container">
    <div class="row">
      <div class="col border-bottom text-left">
        <h5>Requests/Performance Routines</h5>
      </div>
    </div>
    <br>
      <div class="row">
        <div class="col-md-4 border">
          <b>Do Not Play: </b>
          {{ event.event.do_not_play }}
        </div>
        <div class="col-md-4 border">
          <b>Important requests: </b><p style="color: red;">You must play these songs</p>
          {{ event.event.important_requests }}
        </div>
        <div class="col-md-4 border">
          <b>General requests: </b>{{ event.event.general_requests }}
        </div>
      </div>
    </div>

<br>
  <div class="container">
    <div class="row">
      <div class="col border-bottom text-left">
        <h5>Musicians</h5>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6 border">
        <b>Musician Notes:</b>{{ event.event.musician_only_notes }}<br>
      </div>
      <div class="col-md-6 border">
        <b>The Band: </b>{{ event.event.band_lineup }}<br>
        <ol>
        <li><b>Bandleader: {{ bandleader }}</b></li>
        {% for musician in musicians %}
          {% if musician.is_bandleader %}
          {% else %}
            <li> {{ musician.instrument }}: {{ musician }} </li>
          {% endif %}
        {% endfor %}
        </ol>
      </div>
    </div>
  </div>

<br>
  <div class="container">
    <div class="row">
      <div class="col border-bottom text-left">
        <h5>Payment</h5>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6 border">
        <b>Payment Details: </b><br>
        Your fee: ${{ event.fee_all_incl|floatformat:2 }}<br>
        GST: ${{ event.gst_amnt|floatformat:2 }}<br>
        Inclusions: ${{ event.inclusions|floatformat:2 }}<br>
        {% if event.is_bandleader %}
          As bandleader, to be paid you must send an invoice as well as complete this 
          survey - https://forms.gle/PhhzGb7YuzmqhsMt5 <br>
        {% endif %}

        <u>Send an invoice on your home page</u>
        <br><br>

      </div>
      <div class="col-md-6 border">
        <p><b>Documentation:</b><br>
          <a href="https://www.danielfrancis.com.au/djchecklist">DJ Checklist</a><br>
          <a href="https://www.danielfrancis.com.au/musicianexpectations">Musician/Expectations/Singer Songlists</a><br>
          <a href="https://www.danielfrancis.com.au/djchecklist">DJ Checklist</a><br>
          <a href="https://www.danielfrancis.com.au/standardrepertoire">Standard Repertoire</a><br>
          <a href="https://www.danielfrancis.com.au">Our Website</a><br>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSe-Te67mD5f13rKswmXWfNBBwTmdzR8rcqe-nrZfEtFZnTV5A/viewform?usp=sf_link">Musicians feedback form</a></p>
      </div>
    </div>
  </div>
</div>
<br>
<p>If approached for further work please refer any potential clients to the below contact details.<br>
<br>



{% endblock %}