{% extends 'bookers_template.html' %}

{% block written-title %}
    <b>Event Edit</b>

{% endblock %}

{% block bookers-body %}

<!-- ERRORS -->
{% for field in event_edit_form %}
    {% if field.errors %}
    <p class="alert alert-danger" style="width: 100%; max-width: 100%;">{{ field.errors|striptags }}</p>
    {% endif %}
{% endfor %}
<br>

<div class="container-fluid px-3" style="max-width: 80%">
    <form action="{% url 'edit_event_view' event.pk %}" method="POST" enctype='multipart/form-data'>
    {% csrf_token %}
        <div class="row border p-4 mb-3">
            <button class="btn btn-lg btn-success btn-block">Generate contract</button>
        </div>
        <div class="row border-bottom mb-2">
            <h3>Event Basic Details</h3>
        </div>
        <div class="row mb-3">
            <div class="col-lg-8 col-md-8 form-group">
                <label>Event name</label>
                {{ event_edit_form.name }}
            </div>
            <div class="col-lg-4 col-md-4 form-group">
                <label>Event date</label>
                {{ event_edit_form.date }}
            </div>
            <div class="col-lg form-group">
                <label>Completion status</label>
                {{ event_edit_form.event_completion_status }}
            </div>
            <div class="col-lg form-group">
                <label>Status</label>
                {{ event_edit_form.event_status }}
            </div>
            <div class="col form-group">
                <label>Band locked in</label>
                {{ event_edit_form.band_locked_in }}
            </div>
            <div class="col form-group">
                <label>Event complete</label>
                {{ event_edit_form.event_complete }}
            </div>
        </div>

        <div class="row border-bottom">
            <h3>To Do List</h3>
        </div>
        <div class="row mb-1 justify-content-center">
            <label class="checkbox-inline mx-2 mt-2">Contract sent
            <div class="pt-2">{{ event_edit_form.contract_sent }}</div>
            </label>
            <label class='checkbox-inline mx-2 mt-2'>Contract signed
            <div class="pt-2">{{ event_edit_form.contract_signed }}</div>
            </label>
            <label class='checkbox-inline mx-2 mt-2'>Invoice sent
                <div class="pt-2">{{ event_edit_form.invoice_sent }}</div>
            </label>
            <label class='checkbox-inline mx-2 mt-2'>Deposit paid
                <div class="pt-2">{{ event_edit_form.deposit_paid }}</div>
            </label>
            <label class='checkbox-inline mx-2 mt-2'>Balance paid
                <div class="pt-2">{{ event_edit_form.balance_paid }}</div>
            </label>
            <label class='checkbox-inline mx-2 mt-2'>Cal event created
                <div class="pt-2">{{ event_edit_form.calendar_event_created }}</div>
            </label>
            <label class='checkbox-inline mx-2 mt-2'>Client followup
                <div class="pt-2">{{ event_edit_form.client_followup }}</div>
            </label>
            <label class='checkbox-inline mx-2 mt-2'>Band locked
                <div class="pt-2">{{ event_edit_form.band_locked_in }}</div>
            </label>
            <label class='checkbox-inline mx-2 mt-2'>Gig source
                <div class="pt-2">{{ event_edit_form.gig_source }}</div>
            </label>
        </div>
        <br>

        <div class="row border-bottom">
            <h3>Further Details</h3>
        </div>
        <div class="row pt-1">
            <div class="col-md">
                <label>Client</label>
                {{ event_edit_form.client }}
            </div>
            <div class="col-md">
                <label>Band lineup</label>
                {{ event_edit_form.band_lineup }}
            </div>
            <div class="col-md">
                <label>Rehearsal</label>
                {{ event_edit_form.rehearsal }}
            </div>
        </div>

        <div class="row border-bottom mt-4">
            <h3>Locations</h3>
        </div>
        <div class="row pt-1">
            <div class="col">
                <label>Venue</label>
                {{ event_edit_form.venue }}
            </div>
            <div class="col">
                <label>Venue in case rain</label>
                {{ event_edit_form.venue_in_case_of_rain }}
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <label>Parking Provided</label>
                {{ event_edit_form.parking_provided }}
            </div>
            <div class="col-md-6 mt-2">
                <label>No. Spots</label>
                {{ event_edit_form.number_parking_spots_required }}
            </div>
            <div class="col-md-6">
                <label>Cost per car</label>
                {{ event_edit_form.parking_cost_per_car }}
            </div>
            <div class="col-md-6">
                <label>Parking address</label>
                {{ event_edit_form.parking_address }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label></label>
                {{ event_edit_form.parking_assignment }}
            </div>
            <div class="col">
                <label></label>
                {{ event_edit_form.loading_zone_details }}
            </div>
        </div>

        <div class="row border-bottom mt-3">
            <h3>Timings</h3>
        </div>
        <div class="row pt-1">
            <div class="col-md">
                <label>Booking start time</label>
                {{ event_edit_form.booking_start_time }}
            </div>
            <div class="col-md">
                <label>Booking end time</label>
                {{ event_edit_form.booking_end_time }}
            </div>
            <div class="col-md">
                <label>Musicians call time</label>
                {{ event_edit_form.musicians_call_time }}
            </div>
        </div>

        <div class="row border-bottom mt-3">
            <h3>Musical Details/Additional Information</h3>
        </div>
        <div class="row mt-1">
            <div class="col-lg-2">
                <label>Attire</label>
                {{ event_edit_form.musicians_attire }}
            </div>
            <div class="col-lg-2">
                <label>Musical style</label>
                {{ event_edit_form.musical_style }}
            </div>
            <div class="col-lg-4">
                <label>Production/AV</label>
                {{ event_edit_form.production }}
            </div>
            <div class="col col-lg-2">
                <label>Power required</label>
                {{ event_edit_form.power_required }}
            </div>
            <div class="col col-lg-2">
                <label>Crew meals</label>
                {{ event_edit_form.crew_meals }}
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-lg">
                <label class="mt-2">Important requests</label>
                {{ event_edit_form.important_requests }}
            </div>
            <div class="col-lg">
                <label class="mt-2">General requests</label>
                {{ event_edit_form.general_requests }}
            </div>
            <div class="col-lg">
                <label class="mt-2">DO NOT PLAY</label>
                {{ event_edit_form.do_not_play }}
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-lg">
                <label class="mt-2">Musician <b>only</b> notes</label>
                {{ event_edit_form.musician_only_notes }}
            </div>
            <div class="col-lg">
                <label class="mt-2">Run sheet</label>
                {{ event_edit_form.run_sheet }}
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <label>Helpful file (Runsheet etc)</label>
                {{ event_edit_form.helpful_files }}
            </div>
        </div>


        <div class="row border-bottom mt-3">
            <h3>Financials</h3>
        </div>
        <div class="row">
            <div class="col-md-6 px-5">
                <div class="form-group row mt-3">
                    <label class="col-form-label">Total fee (No GST or inclusions eg parking)</label>
                    {{ event_edit_form.total_fee_no_gst }}
                </div>
                <div class="form-group row mt-3">
                    <label class="col-form-label">Deposit required</label>
                    {{ event_edit_form.deposit_required }}
                </div>
                <div class="form-group row mt-3">
                    <label class="col-form-label">Payment method</label>
                    {{ event_edit_form.payment_method }}
                    <small class="text-dark">POLi is a 1% fee per transaction at a max of $3</small>
                </div>
                <div class="form-group row mt-3">
                    <label class="col-form-label">Card type</label>
                    {{ event_edit_form.card_type }} 
                    <small class="text-dark">Card fee is 1.75% + 30c or 2.9% + 30c per transaction</small>
                </div>
                <div class="form-group row mt-3">
                    <label class="col-form-label">Booker fee</label>
                    {{ event_edit_form.booker_fee }}
                </div>
            </div>

            <div class="col-md border px-5 mx-5 mt-3">
                <div class="row mt-2">
                    <div class="col">
                        <h4><u>Cost breakdown</u></h4>
                    </div>
                </div>
                <div class="row px-5 mt-3 border-bottom">
                    <div class="col">
                        <b>Expenses</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Musicians fees base: ${{ event.calculate_musicians_base_fees|floatformat:2 }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Musicians GST component total: ${{ event.calculate_musicians_gst|floatformat:2 }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Musicians inclusions total: ${{ event.calculate_musicians_inclusions|floatformat:2 }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Booker fee: ${{ event.booker_fee|floatformat:2 }}
                    </div>
                </div>

                <div class="row mt-3 border-bottom">
                    <div class="col">
                        <b>External fees/inclusions</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Parking total: ${{ event.parking_total|floatformat:2 }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Credit card surcharge percentage: {{ event.credit_card_rate|floatformat:2 }}%
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Credit card surcharge amount: ${{ event.credit_card_surcharge_amount|floatformat:2 }}
                    </div>
                </div>               

                <div class="row mt-3 border-bottom">
                    <div class="col">
                        <b>Totals</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        GST: ${{ event.gst_amount|floatformat:2 }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Fee + GST: ${{ event.total_fee_incl_gst|floatformat:2 }}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        Deposit incl. surcharge: ${{ event.deposit_and_surcharge|floatformat:2 }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Balance incl. surcharge: ${{ event.balance_and_surcharge|floatformat:2 }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Total incl. all: ${{ event.total_fee_incl_all|floatformat:2 }}
                    </div>
                </div>

                <div class="row border-bottom mt-3">
                    <div class="col">
                        <b>Profits and payments</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        GST Payable: ${{ event.calculate_gst_payable|floatformat:2 }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Business Profit: ${{ event.calculate_business_profits|floatformat:2 }}<br><br>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <br>
        
        <div class="row">
            <div class="col">
                <button class="btn btn-lg btn-success btn-block" type="submit" name='save_changes'>Save Changes</button>
            </div>
            <div class="col">
                <button class="btn btn-lg btn-danger btn-block" type="submit" name='delete_event'>Delete Event</button>
            </div>
        </div>
        <br>
    </form>
</div>

<div class="container-fluid px-3" style="max-width: 80%">
    <div class="row border-bottom my-3">
        <div class="col text-left">
            <h3>Musicians</h3>
        </div>
    </div>
    <div class="row border p-2 mb-2">
        <div class="col-lg-4">
            <form action="{% url 'email_worksheet_reminder' event.pk %}" method="POST">
                {% csrf_token %}
                {% if event.email_worksheet_reminder %}
                <button class="btn btn-warning btn-block" type="submit"><small>Worksheet sent (Click to send again)</small></button>
                {% else %}
                <button class="btn btn-info btn-block" type="submit">
                    Worksheet reminder email
                </button>
                {% endif %}
            </form>
        </div>
    </div>
<!-- Edit a musician -->
    {% for musician in musicians %}
    <div class="row border px-4 py-3 mb-4">
        <div class="col-lg-6 mb-2 border-right">
            {% if musician.is_bandleader == 'yes' %}<small class="text-primary"> BANDLEADER </small>{% endif %}
            {% if musician.is_available == None %}<small class="text-warning"> INVITED </small> <br>{% endif %}
            {% if musician.is_available %}<small class="text-success"> ACCEPTED </small> <br>{% endif %}
            {{ musician }}
        </div>
        <div class="col-4 col-lg-2">
            <form action="{% url 'email_invite_musician' eventmusician_id=musician.pk event_id=event.pk %}" method="POST">
                {% csrf_token %}
                {% if musician.email_invite_sent %}
                    <small type="submit"><u class="text-primary">Already invited<br> (Click to invite again)</u></small>
                {% else %}
                <button class="btn btn-info btn-block" type="submit">
                    E-invite
                </button>
                {% endif %}
            </form>
        </div>
        <div class="col-4 col-lg-2">
            <a href="{% url 'edit_event_musicians_view' musician_id=musician.contractor.pk event_id=event.pk %}">
                <button class="btn btn-primary btn-block">
                    Edit
                </button>
            </a>
        </div>
        <div class="col-4 col-lg-2">
            <form action="{% url 'edit_event_musicians_view' musician_id=musician.contractor.pk event_id=event.pk %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-danger btn-block" type="submit" name='delete_musician'>Remove</button>
            </form>
        </div>
    </div>
    {% empty %}
    <i>No one is booked on this event yet!</i><br><br>
    {% endfor %}

<!-- Add a musician -->
    <form action="{% url 'edit_event_view' event.pk %}" method="POST">
        {% csrf_token %}
            <div class="row border px-1 py-3 mb-4">
                <div class="col-8 border-right">
                    {{ add_event_musician.contractor }}
                </div>
                <div class="col-4 pl-1 pr-0 ml-0">
                    <button type="submit" name='add_musician' class="btn btn-dark btn-block">Invite Musician</button>
                </div>
            </div>
    </form>

    <div class="row">
        <div class="col">
            Unavailable Musicians
        </div>
    </div>
    {% for musician in unavailable_musicians %}
    <div class="row">
        <div class="col">
            {{ musician }}
        </div>
    </div>
    {% endfor %}


    
</div>
<br><br>
{% endblock %}

