{% extends "layout.html" %}

{% block pagetitle %}
Contact Us
{% endblock %}

{% block body %}
<div class="row" style="height: 10vh;"></div>

<!--This is the signin form.-->
<div class="row justify-content-center align-items-center p-5">
    <div class="col-lg-6 md-form">
            <h1>Contact Us</h1>
            <br>
            <ul class="list-group-flush p-0">
                <li class="list-group-item"><u>Manager:</u> <b>Jack Purdon</b></li>
                <li class="list-group-item"><u>Email:</u> info@danielfrancis.com.au</li>
                <li class="list-group-item"><u>Mobile:</u> 0423 526 197</li>
                <li class="list-group-item text-primary">
                {% if user.contractor %}
                    <a href="{% url 'user_home' %}" class="list-group-item text-primary bg-light">
                        <u>Back to your gig list</u>
                    </a>
                {% elif user.constaff %}
                    <a href="{% url 'con_staff_view' %}" class="list-group-item text-primary bg-light">
                        <u>Back Con Staff portal</u>
                    </a>
                {% elif user.booker %}
                    <a href="{% url 'bookers_home_view' %}" class="list-group-item text-primary bg-light">
                        <u>Back to Booker portal</u>
                    </a>
                {% else %}
                    <a href="{% url 'signin' %}" class="list-group-item text-primary bg-light">
                        <u>Sign in!</u>
                    </a>
                {% endif %}
                </li>
            </ul>
    </div>
</div>

{% endblock %}

