{% extends "layout.html" %}
{% load static %}

{% block pagetitle %}
DFE | Contractors
{% endblock %}

{% block nav %}
<nav class="navbar justify-content-center header py-0" style="max-height: 70px;">
    <div class="row">
        <table class="table">
            <tr class="text-dark">
                <td><a href="{% url 'user_home' %}" class="text-dark">Gig List</a></td>
                <td><a href="{% url 'user_details' %}" class="text-dark">Edit My Details</a></td>
                <td><a href="{% url 'user_event_history' %}" class="text-dark">Gig History</a></td>
                <td><a href="{% url 'contact' %}" class="text-dark">Provide Feedback</a></td>
                <td><a href="{% url 'signout' %}" class="text-dark">Log out</a></td>
            </tr>
        </table>
    </div>
</nav>
{% endblock %}

{% block body %}
    <div class="row pt-4 justify-content-center">
        <h3>
    {% block written-title %}
    {% endblock %}
        </h3>
    </div>

    {% if messages %}
    <div class="row justify-content-center">
        <ul style="width: 100%; padding: 0px;">
            <li>
                {% for message in messages %}  
                    <h6 class='alert alert-{{ message.tags }} list-group'>
                        {{ message }}. {% block add-message %}{% endblock %}
                    </h6>
                {% empty %}
                {% endfor %}
            </li>
        </ul>
    </div>
    {% endif %}

    {% block user-body %}
    {% endblock %}

{% endblock %}