{% extends "user_template.html" %}
{% load static %}

{% block pagetitle %}
DFE | Gig List
{% endblock %}

{% block written-title %}
Gig List
{% endblock %}

{% block user-body %}

<!-- Gig invites (only shows if they have some.)
Remember we are using Eventmusician objects -->

{% if invites %}

<div class="container-fluid px-3" style="max-width: 90%">
    {% for invite in invites %}
    <div class="row bg-light border px-4 py-3 mb-4">
            <div class="col-12">
                <h6><b>
                    Gig Invite
                </b></h6>
            </div>
        <div class="col-lg-6 mb-2">
            <div class="row pt-3">
                <div class="col">
                    Date:
                </div>
                <div class="col">
                    Name:
                </div>
                <div class="col d-none d-md-block">
                    Venue:
                </div>
                <div class="col d-none d-xl-block">
                    Call time:
                </div>
                <div class="col-3 d-none d-md-block">
                    Fee (Incl. GST):
                </div>
            </div>
            <div class="row pb-1">
                <div class="col border-right">
                    {{ invite.event.date }}
                </div>
                <div class="col border-right">
                    {{ invite.event.name }}
                </div>
                <div class="col border-right d-none d-md-block">
                    {{ invite.event.venue }}
                </div>
                <div class="col border-right d-none d-xl-block">
                    {{ invite.event.musicians_call_time }}
                </div>
                <div class="col-3 border-left d-none d-md-block">
                    {{ invite.event.fee_all_incl }}
                </div>
            </div>
        </div>
        <div class="col- col-sm-4 col-lg-2 py-sm-3 py-0">
            <a href="{% url 'worksheet_view' invite.pk %}">        
                <button class="btn btn-dark btn-block">Worksheet</button>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-lg-2 py-3">
            <form action="{% url 'user_accept_decline_gig' invite.pk %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-success btn-block" name='accept_event'>
                    Accept
                </button>
        </div>
        <div class="col-6 col-sm-4 col-lg-2 py-3">
                <button class="btn btn-danger btn-block" type="submit" name='decline_event'>Decline</button>
            </form>
        </div>
    </div>
    {% empty %}
    {% endfor %}
</div>
{% endif %}

<!-- Gigs that they have accepted -->
<div class="container-fluid px-5 pt-1">
    <div class="row border-bottom px-4 py-3 mb-4">
        <div class="col"><b>Gig Date</b></div>
        <div class="col"><b>Event Name</b></div>
        <div class="col d-none d-sm-block"><b>Venue</b></div>
        <div class="col d-none d-lg-block"><b>Call Time</b></div>
        <div class="col d-none d-xl-block"><b>Fee (Incl. GST)</b></div>
        <div class="col d-none d-lg-block"><b>Worksheet</b></div>
        <div class="col d-none d-lg-block"><b>Generate an invoice</b></div>
    </div>
    {% for event in events %}
    <div class="row p-4 mb-4">
        <div class="col border-left border-right">{{ event.event.date }}</div>
        <div class="col border-right">{{ event.event.name }}</div>
        <div class="col border-right d-none d-sm-block">{{ event.event.venue }}</div>
        <div class="col border-right d-none d-lg-block">{{ event.event.musicians_call_time }}</div>
        <div class="col border-right d-none d-xl-block">${{ event.fee_all_incl }}</div>
        <div class="col-lg col--6 my-3 my-lg-0 border-right">
            <a href="{% url 'worksheet_view' event.pk %}">        
                <button class="btn btn-dark btn-block">Worksheet</button>
            </a>
        </div>
        <div class="col-lg col--6 my-2 my-lg-0 border-right">
            {% if event.event.event_complete and event.invoice_status == 'no' %}
                <a href="{% url 'generate_and_send_pdf_invoice' event.pk %}">
                    <button class="btn btn-primary btn-block">Generate/Send Invoice</button>
                </a>
            {% elif event.event.event_complete %}
                <a href="{% url 'generate_pdf_invoice' event.pk %}">
                    <button class="btn btn-primary btn-block">Re-generate Invoice</button>
                </a>
        
            {% else %}
                Event pending
            {% endif %}
        </div>
    </div>
    {% empty %}
        No Gigs Booked!
    {% endfor %}
</div>
<br>

{% endblock %}