{% extends "layout.html" %}
{% load static %}
{% block pagetitle %}
Gig List DFE
{% endblock %}

{% block body %}
<div class="row">
    <!-- Left column for user.-->
    <div class="col-md-2 text-center pl-4">
        <div class="row justify-content-center p-4">
            <img src="{% static 'imgs/generic-user.jpg' %}" class="img-thumbnail rounded profile-pic">
        </div>
        <div class="row justify-content-center p-0">
            <h4>{{ request.user.first_name }} {{ request.user.last_name }}</h4>
        </div>
        <div class="row justify-content-center">
            <ul class="list-group-flush p-0">
                <li class="list-group-item">
                    {% for message in messages %}  
                        <h6 class=' alert alert alert-primary'>{{ message }}</h6>
                    {% endfor %}
                </li>
                <li class="list-group-item"><a href="{% url 'user_details' %}"><u>Edit My Details</u></a></li>
                <li class="list-group-item"><a href="user_details.html"><u>Gig History</u></a></li>
                <li class="list-group-item"><a href="user_details.html"><u>Provide Feedback</u></a></li>
                <li class="list-group-item text-primary"><a href="{% url 'signout' %}" class="list-group-item text-primary bg-light"><u>Log out</u></a></li>
            </ul>
        </div>
    </div>

    <!--Right column for gig list.-->
    <div class="col-md-10 pl-0">
        <div class="row justify-content-center pr-5 pt-4">
            <h3>Gig List</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">Gig Date</th>
                    <th scope="col">Event Name</th>
                    <th scope="col">Venue</th>
                    <th scope="col">Call Time</th>
                    <th scope="col">Fee (Incl. GST)</th>
                    <th scope="col">Worksheet</th>
                    <th scope="col">Send an Invoice</th>
                    </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                    <td>{{ event.date }}</td>
                    <td>{{ event.name }}</td>
                    <td>{{ event.venue }}</td>
                    <td>{{ event.call_time }}</td>
                    <td>${{ event.fee_incl_gst }}</td>
                    <td><a href="#"><u>Click Here</u></a></td>
                    <td>Event Pending</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><h4>No Gigs booked!</h4></td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
        </div>
    </div>
</div>
{% endblock %}