{% extends "user_template.html" %}
{% load static %}

{% block pagetitle %}
DFE | Gig List
{% endblock %}

{% block written-title %}
Gig History
{% endblock %}

{% block user-body %}
<!--Right column for gig list.-->
    <div class="row justify-content-center px-5 pt-4">
        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">Gig Date</th>
                <th scope="col">Event Name</th>
                <th scope="col">Venue</th>
                <th scope="col">Fee</th>
                </tr>
            </thead>
            <tbody>
            {% for event in past_events %}
                <tr>
                <td>{{ event.event.date }}</td>
                <td>{{ event.event.name }}</td>
                <td>{{ event.event.venue }}</td>
                <td>${{ event.fee_all_incl }}</td>
                </tr>
            {% empty %}
                    <h4>You haven't done any gigs with us yet :(</h4>
                    <br><br>
            {% endfor %}
            </tbody>
            </table>
    </div>

{% endblock %}