$color:#002E5D;
$background-color: #f5f5f5; 
$dark-text: #343A40;
$light_color: #c4c4c4;
$font: "Bodoni MT", Didot;

* {
    font-family: $font;
    color: $dark-text;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: $background-color;
  text-align: center;
}

.navbar {
    padding: 20px;
    background-color: $background-color;
}