{% extends 'reset_password_template.html' %}

{% block pagetitle %}
Reset Password DFE
{% endblock %}

{% block reset_password_body %}

<div class="row justify-content-center"></div>
<form class="form-signin" method="POST">
    <h1>Enter new password</h1>
    <br>
    <h6>Please enter your new password twice so we can verify you typed it in correctly.</h6>
    <br>
    {% csrf_token %}

    {% for field in form %}
        <div class="row justify-content-center">
            {{ field.label }}
        </div>
        <br>
        <div class="row justify-content-center">
            {{ field }}
        </div>
        <br>
    {% endfor %}
    <br>
    <button class="btn btn-lg btn-dark btn-block" type="submit">Change my password</button>
    
</form>

{% endblock %}